<mat-card>
  <h1>Sign Up</h1>
<form class="example-form" [formGroup]="form">
  <div class="section" formGroupName="account">
    <h2>Account</h2>
    <mat-form-field class="example-full-width" >
       <mat-label>Email</mat-label>
       <input type="email" 
        matInput
        formControlName="emailFormControl" 
        placeholder="Ex. pat@example.com">
      <mat-error *ngIf="form.get('account.emailFormControl')?.hasError('email') && !form.get('account.emailFormControl')?.hasError('required')">
      Please enter a valid email address
      </mat-error>
      <mat-error *ngIf="form.get('account.emailFormControl')?.hasError('required')">
      Email is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width">
       <mat-label>Password</mat-label>
       <input type="password" 
        matInput
        formControlName="passwordFormControl">
       <mat-error *ngIf="form.get('account.passwordFormControl')?.hasError('required')">
        Password is <strong>required</strong>
        </mat-error>
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width">
       <mat-label>Repeat your password</mat-label>
       <input type="password" 
        matInput
        formControlName="repeatpasswordFormControl">
       <mat-error *ngIf="form.get('account.repeatpasswordFormControl')?.hasError('required')"> 
        Password is <strong>required</strong>
       </mat-error>
    </mat-form-field>
    <br>
    <br>
    
  </div>


  <div class="section" formGroupName="profile">
    <h2>Profile</h2>
    <mat-form-field class="example-full-width" >
       <mat-label>Name</mat-label>
       <input type="text" 
        matInput
        formControlName="name" 
        >
      <mat-error *ngIf="form.get('profile.name')?.hasError('required')">
      Name is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width">
       <mat-label>Phone</mat-label>
       <input type="text" 
        matInput
        formControlName="phone" prefix="+7" mask="(000) 000 00 00">
       <mat-error *ngIf="form.get('profile.phone')?.hasError('required')">
        Phone is <strong>required</strong>
        </mat-error>
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width">
       <mat-label>City</mat-label>
       <input type="text" 
        matInput
        formControlName="city">
       <mat-error *ngIf="form.get('profile.city')?.hasError('required')"> 
        Password is <strong>required</strong>
       </mat-error>
    </mat-form-field>
  </div>
    <br>
    <br>

  <div class="section" formGroupName="company">
      <h2>Company</h2>
      <mat-form-field appearance="fill" class="example-full-width" >
         <mat-label>Type</mat-label>
         <mat-select formControlName="type">
          <mat-option value="LE">Legal Entity</mat-option>
          <mat-option value="IE">Individual Entrepreneur</mat-option>
        </mat-select> 
      </mat-form-field>
      <br>
      <mat-form-field class="example-full-width">
        <mat-label>INN</mat-label>
        <input type="text" 
         matInput
         formControlName="inn">
        <mat-error *ngIf="form.get('company.inn')?.hasError('required')"> 
         INN is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="form.get('company.inn')?.hasError('minlength')"> 
         Value shoudn't be less than {{ form.get('company.inn')?.errors?.minlength?.requiredLength }} symbols
         Current lehgth: {{ form.get('company.inn')?.errors?.minlength?.actualLength }} 
       </mat-error>
       <mat-error *ngIf="form.get('company.inn')?.hasError('maxlength')"> 
         Value shoudn't be great than {{ form.get('company.inn')?.errors?.maxlength?.requeredLength }}
         Current lehgth: {{ form.get('company.inn')?.errors?.maxlength?.actualLength }}
       </mat-error>
       </mat-form-field>
      
      <br>

      <mat-form-field class="example-full-width" *ngFor="form.get('company.type')?.value !== 'IE'">
         <mat-label>KPP</mat-label>
         <input type="text" 
          matInput
          formControlName="kpp">
         <mat-error *ngIf="form.get('company.kpp')?.hasError('required')"> 
          KPP is <strong>required</strong>
         </mat-error>
         <mat-error *ngIf="form.get('company.kpp')?.hasError('minlength')"> 
          Value shoudn't be less than {{ form.get('company.kpp')?.errors?.minlength?.requiredLength }} symbols
          Current lehgth: {{ form.get('company.kpp')?.errors?.minlength?.actualLength }} 
        </mat-error>
        <mat-error *ngIf="form.get('company.kpp')?.hasError('maxlength')"> 
          Value shoudn't be great than {{ form.get('company.kpp')?.errors?.maxlength?.requiredLength }}
          Current lehgth: {{ form.get('company.kpp')?.errors?.maxlength?.actualLength }}
        </mat-error>
        </mat-form-field>

        <br>
        <mat-form-field class="example-full-width">
          <mat-label>OKPO</mat-label>
          <input type="text" 
           matInput
           formControlName="okpo">
          <mat-error *ngIf="form.get('company.okpo')?.hasError('required')"> 
           OKPO is <strong>required</strong>
          </mat-error>
          <mat-error *ngIf="form.get('company.okpo')?.hasError('minlength')"> 
           Value shoudn't be less than {{ form.get('company.okpo')?.errors?.minlength?.requiredLength }} symbols
           Current lehgth: {{ form.get('company.okpo')?.errors?.minlength?.actualLength }} 
         </mat-error>
         <mat-error *ngIf="form.get('company.okpo')?.hasError('maxlength')"> 
           Value shoudn't be great than {{ form.get('company.okpo')?.errors?.maxlength?.requeredLength }}
           Current lehgth: {{ form.get('company.okpo')?.errors?.maxlength?.actualLength }}
         </mat-error>
         </mat-form-field>
  </div>
  <br>
  <br>
  <div formArrayName="contacts" class="section">
      <div>
        <h2>Contacts</h2>
        <button (click)="addContacts()" mat-raised-button color="warn">Add</button>
      </div>
      <div *ngFor="let control of getContactsControls(); let i = index">
        <h3>Contact №{{ i + 1 }}</h3>
        <mat-form-field class="example-full-width">
          <mat-label>Name</mat-label>
          <input type="text" 
          matInput
          formControlName="name">
       </mat-form-field>
       <mat-form-field class="example-full-width">
        <mat-label>Phone</mat-label>
        <input type="text" 
         matInput
         formControlName="phone" prefix="+7" mask="(000) 000 00 00">
     </mat-form-field>
      </div>
  </div>
  
  <br>
  <button mat-raised-button color="primary" [disabled]="form.invalid">Submit</button>
</form>
</mat-card>


<pre>{{ form.get('account')?.errors | json }}</pre>
<pre>{{ form.value | json }}</pre>

